.tweet {
  display: flex;
  flex-direction: row;
  border: 1px solid #3d5466;
  width: 30%;
  border-radius: 6px;
  padding: 15px 25px 5px 10px;
  margin: 10px 15px;
  line-height: 1.3125;
  color: #fff;
  max-height: 500px;
}

@media (max-width: 600px) {
  .tweet {
    width: 100%;
    margin: 10px 0px;
  }
}

.tweetContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 10px;
  word-break: break-all;
}

.name {
  font-weight: bold;
  padding: ;
}

.bottom-buttons {
  width: 100%;
  height: 45px;
}
.tweet .bottom-buttons > * {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  fill: #55abee;
}

.tweet .bottom-buttons > *:first-child {
  margin-left: 0px;
}

.bottom-buttons > *:hover {
  cursor: pointer;
}

.tweetImg {
  /* border: 1px solid red; */
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: url("../assets/cake.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 35px;
}
